*.unstyled-link {
  color: #333333;
}
*.unstyled-link:hover {
  text-decoration: none;
  color: #333333;
}
h1,
h2,
h3 {
  color: #000000;
}
.form-sub-heading {
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
}
.panel .form-sub-heading {
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
}
.panel.panel-has-nav {
  background-color: #666;
}
.panel .tab-content {
  background-color: #ffffff;
}
.panel.panel-collapsed .panel-heading {
  border-bottom: 0;
}
.panel-nav {
  border-bottom: 0;
}
.panel-nav > li a {
  border: 0;
  color: #fff;
  font-weight: bold;
}
.panel-nav > li a:hover {
  background-color: #555;
  border: 0;
  padding-bottom: 9px;
}
.panel-nav > li.active a {
  color: #666;
}
.panel-nav > li.active a:hover {
  background-color: #ffffff;
  padding-bottom: 10px;
}
.sub-nav .nav-pills > li > a {
  color: #999999;
}
.sub-nav .nav-pills > li > a:hover {
  color: #333;
  background-color: transparent;
}
.sub-nav .nav-pills > li > a:hover > .badge {
  background-color: #333;
}
.sub-nav .nav-pills > li.disabled > a,
.sub-nav .nav-pills > li.disabled:hover {
  color: #cccccc;
}
.sub-nav .nav-pills > li.disabled > a > .badge {
  background-color: #cccccc;
}
.sub-nav .nav-pills > li.active > a,
.sub-nav .nav-pills > li.active > a:hover,
.sub-nav .nav-pills > li.active > a:focus {
  color: #0096ff;
  background-color: transparent;
}
.sub-nav .nav-pills > li.active > a .badge,
.sub-nav .nav-pills > li.active > a:hover > .badge {
  color: #ffffff;
  background-color: #0096ff;
}
.secondary-nav .nav > li > a {
  border-radius: 0;
  color: #333333;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
}
.secondary-nav .nav li ul li a {
  color: #0096ff;
  font-weight: normal;
  border-bottom: 0;
}
.secondary-nav .nav li.active a {
  color: #ffffff;
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: right 8px;
}
.primary-nav {
  border: 0;
  background-color: #666666;
}
.primary-nav .navbar-nav li > a,
.primary-nav .navbar-nav li > a:hover,
.primary-nav .navbar-nav li.active > a,
.primary-nav .navbar-nav li.active > a:hover {
  color: #ffffff;
}
.primary-nav .navbar-nav li.active > a {
  background-color: #333333;
}
.primary-nav .navbar-nav li.active > a:hover {
  background-color: #333333;
}
.primary-nav .navbar-nav li > a {
  border-right: 0px solid #404040;
  border-left: 0px solid #808080;
}
.primary-nav .navbar-nav li > a:hover {
  background-color: #595959;
}
.primary-nav .navbar-nav li:first-child > a {
  border-left: 0;
}
.primary-nav .navbar-nav li:last-child > a {
  border-right: 0;
}
.navbar-brand,
.navbar-brand:hover {
  color: #ffffff;
}
.actions-nav {
  border-bottom: 0;
  border-top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px 0 #efefef;
  box-shadow: 0 5px 10px 0 #efefef;
}
.actions-nav .navbar-nav > li > a {
  color: #0096ff;
}
.actions-nav .navbar-nav > li > a:hover {
  color: #0078cc;
}
.section-title {
  font-weight: bold;
}
.arrow-left {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: -20px 0;
}
.arrow-up {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer {
  border-top: 1px solid #cccccc;
  background-color: #efefef;
  color: #666666;
}
.icon-cancel {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: -80px 0;
}
.login {
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 10px 0 #cccccc;
  box-shadow: 0px 0px 10px 0 #cccccc;
}
.login .login-header {
  background-color: #666;
}
.table-default {
  border-bottom: 1px solid #efefef;
}
body#login {
  background-color: #efefef;
}
